<rd-header>
  <rd-header-title title-text="Support">
  </rd-header-title>
  <rd-header-content>
    BioPortainer support
  </rd-header-content>
</rd-header>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-header title-text="BioPortainer support options" icon="fa-question-circle"></rd-widget-header>
      <rd-widget-body>
      <div class="small" style="line-height:1.65;">
        <p>
          BioPortainer support options.
        </p>
        <p>
          <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> <u>Git Issue</u>
          <ul>
            <li><a href="https://github.com/BioPortainer/Issue/issues" target="_blank"><i class="fab fa-github" aria-hidden="true"></i> Access now!</a></li>
        </p>
      </div>
      </rd-widget-body>
    </rd-widget>
    <rd-widget>
      <rd-widget-header title-text="Portainer support options" icon="fa-question-circle"></rd-widget-header>
      <rd-widget-body>
      <div class="small" style="line-height:1.65;">
        <p>
          Portainer support options.
        </p>
        <p>
          <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> <u>Git Issue</u>
          <ul>
            <li><a href="https://github.com/portainer/portainer/issues" target="_blank"><i class="fab fa-github" aria-hidden="true"></i> Access now!</a></li>
        </p>
      </div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
